<div class="jumbotron">
    <h1 class="display-4">Todo List Management Demo</h1>
    <p class="lead">
        This is a simple demo application that demonstrates the interaction of domain-driven design and behavior-driven development
        and microservices.
        The microservices are orchestrated by a Backend For Frontend (BFF) for each user interface via REST APIs.
    </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" role="button" routerLink="/todo-lists">
        Try it out!
    </a>
    <a class="btn btn-secondary btn-lg ml-2" href="https://team.kit.edu/sites/cm-tm/Mitglieder/2-2.WASA_Guidelines/1.tlm_practical_course.pptx?Web=1"
        role="button">
        Learn more (VPN necessary)
    </a>
</div>
